h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

.content {
  min-height: calc(100vh - 70px);
}

.navi-left {
  float: left;
  /* left: 50%; */
  width: 10%;
  height: 24px;
  text-align: center;
  /* font-size: 24px; */
  margin: 0 20%;
  padding: 10px;
  color: #ffffff;
  background: #4aaaa5;
}

.navi-right {
  float: left;
  width: 30%;
  height: 30px;
  margin: 0 5%;
}

.menu {
  float: left;
  width: 33%;
  padding: 10px 0;
  text-align: center;
  /* font-size: 20px; */
  color: #777777;
}

.pipe {
  float: left;
  width: 1px;
  padding: 0;
  margin: 0;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 100;
  color: #777777;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.background {
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
}

.wrapper {
  float: left;
  width: 960px;
  padding: 0 200px 100%;
  border-top: 2px solid #cccccc;
  background-image: url("../images/dynamic-style.png");
}

.header {
  position: relative;
  left: 0;
  color: #4aaaa5;
  border-bottom: 2px solid #777777;
  padding: 20px 0;
  margin-bottom: 20px;
}

.image {
  float: left;
  margin: 0 20px 20px 0;
}

p {
  padding-bottom: 20px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}

.footer {
  position:fixed;
  bottom: 0;
  float: left;
  width: 100%;
  background-color: #666666;
  border-top: 8px solid #4aaaa5;
  text-align: center;
  color: #ffffff;
  padding-top: 30px;
  height: 20px;
}

a:link, a:visited {
  color: #cccccc;
  text-decoration: none;
  cursor: auto;
}
a:link:active, a:visited:active {
  color: lightblue;
}
a:hover {
  color: #4aaaa5;
}

label {
  font-size: 16px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  line-height: 16px;
  font-size: 16px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Container holding the image and the text */
.image-wrapper {
  float: left;
  position: relative;
  width: 200px;
  margin-right: 20px;
  text-align: center;
}

.image-text {
  position: absolute;
  top: 110px;
  width: 100%;
  color: #ffffff;
  background-color:#4aaaa5;
  padding: 10px 0;
}
